<!DOCTYPE html>
<html>
<head>
  <title>Interactive Map</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.min.css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <style>
    #map {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
    }
    .logo-overlay {
      position: absolute;
      top: 20px;
      left: 20px;
      z-index: 1000;
      background-color: rgba(255, 255, 255, 0.8);
      padding: 10px;
      border-radius: 5px;
    }
    .logo-overlay img {
      width: 300px;
    }
  </style>
</head>
<body>
  <div class="logo-overlay">
    <img src="{{ url_for('static', filename='images/razom_logo.png') }}" alt="Razom Logo">
  </div>
  <div id="map"></div>

  <script>
    // Initialize map
    var userMarker;
    var map = L.map('map').setView([0, 0], 2);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: 'Map data © <a href="https://openstreetmap.org">OpenStreetMap</a> contributors',
      maxZoom: 18,
    }).addTo(map);

    var userMarker;

    // Get user's location and center the map on it
    map.locate({ setView: true, maxZoom: 15, watch: true });

    map.on('locationfound', function(e) {
      // if (userMarker) {
      //   map.removeLayer(userMarker);
      // }
      userMarker = L.marker(e.latlng).addTo(map);
    });

    var bounds = map.getBounds();
    var neLat = bounds._northEast.lat;
    var neLon = bounds._northEast.lng;
    var swLat = bounds._southWest.lat;
    var swLon = bounds._southWest.lng;
    var zoom = map.getZoom()
    var boundaries = {
      'ne_lat' : neLat,
      'ne_lon' : neLon,
      'sw_lat' : swLat,
      'sw_lon' : swLon,
      'zoom' : zoom,
    }

    // Define custom icons for different activity types
    var iconOptions = {
      running: {
        iconUrl: '{{ url_for('static', filename='images/running_icon.png') }}',
        iconSize: [32, 40],
      },
      swimming: {
        iconUrl: '{{ url_for('static', filename='images/swimming_icon.png') }}',
        iconSize: [32, 40],
      },
      cycling: {
        iconUrl: '{{ url_for('static', filename='images/cycling_icon.png') }}',
        iconSize: [32, 40],
      },
      football: {
        iconUrl: '{{ url_for('static', filename='images/football_icon.png') }}',
        iconSize: [32, 40],
      },
      yoga: {
        iconUrl: '{{ url_for('static', filename='images/yoga_icon.png') }}',
        iconSize: [32, 40],
      },
    };

    function createMarker(activityType, lat, lon, popupContent) {
      console.log(activityType);
      console.log(lat);
      console.log(lon);
      console.log(popupContent);
      var iconUrl = iconOptions[activityType].iconUrl;
      var iconSize = iconOptions[activityType].iconSize;
      var icon = L.icon({
        iconUrl: iconUrl,
        iconSize: iconSize,
      });
      var marker = L.marker([lat, lon], { icon: icon }).addTo(map);
      marker.bindPopup(popupContent);
    }

    function updateMarkers() {
      $.ajax({
        type: 'POST',
        url: '/markers',
        contentType: 'application/json',
        data: JSON.stringify(boundaries),
        success: function(data) {
          var markers = data.markers;
          map.eachLayer(function(layer) {
            if (layer instanceof L.Marker) {
              map.removeLayer(layer);
            }
          });
          if (markers.length > 0) {
            for (var i = 0; i < Math.min(markers.length, 10); i++) {
              var marker = markers[i];
              var activityType = marker.activity_type;
              var popupContent =
                "<b>" + marker.title + "</b><br>" +
                "Description: " + marker.short_description + "<br>" +
                "Starts at: " + marker.start_at + "<br>" +
                "Estimated duration: " + marker.estimated_duration_minutes + " minutes" + "<br>" +
                "Created by: " + marker.created_by + "<br>" +
                "<a href='" + marker.details_url + "'>More details</a>";
              createMarker(activityType, marker.lat, marker.lon, popupContent);
            }
          }
        },
        error: function(error) {
          console.log(error);
        }
      });
    }

    // Add markers initially
    updateMarkers();
    console.log('initial placement')

    // Update markers, boundaries, and zoom level when map is moved or zoomed
    function updateBoundsAndMarkers() {
      var bounds = map.getBounds();
      var neLat = bounds._northEast.lat;
      var neLon = bounds._northEast.lng;
      var swLat = bounds._southWest.lat;
      var swLon = bounds._southWest.lng;
      var zoom = map.getZoom();
      boundaries = {
        'ne_lat': neLat,
        'ne_lon': neLon,
        'sw_lat': swLat,
        'sw_lon': swLon,
        'zoom': zoom,
      };
      updateMarkers();
    }

    map.on('moveend', updateBoundsAndMarkers);
    // map.on('zoomend', updateBoundsAndMarkers);
  </script>
</body>
</html>
